@import "tailwindcss";

@theme {
  --color-primary: #FBBF24;

  /* Layout */
  --color-background: #222020;
  
  /* Cards */
  --color-card: #333333;       
  --color-border: #444444;   

  /* text */
  --color-foreground: #ffffff;

  /* profile  */
  --color-profile : #FFFFFF;
  --color-active-text: #2DD4BF;
}
